/* ---------
1. General body style
--------- */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 50px;
    background-color: #f4f4f4;
    color: #333;
    
}


.navigationbar {
    list-style-type: none;
    background-color: #333;
    margin: 0;
    padding: 0;
    overflow: hidden;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

}

.navigationbar {
    display: inline-block;
}

.navigationbar li {
    display: inline-block;
}

.navigationbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;

}

.navigationbar li a:hover {
    background-color: #333;
    color:blueviolet;
    
}

footer {
    background-color: #333;      /* dark footer to match navbar */
    color: white;                /* footer text color */
    text-align: center;          /* center content */
    padding: 10px;               /* space inside footer */
    margin-top: 20px;            /* space above footer */
}


.profile-photo{
    max-width: 200px;
    width: 100%;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
}