/* ---------
1. General body style
--------- */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 50px;
    background-color: #f4f4f4;
    color: #333;
    
}


.navigationbar {
    list-style-type: none;
    background-color: #333;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 900px;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;

}

.navigationbar {
    display: inline-block;
}

.navigationbar li {
    display: inline-block;
}

.navigationbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;

}

.navigationbar li a:hover {
    background-color: #333;
    color:blueviolet;
    
}

.nav-icon {
    width: 24px;
    height: auto;
    vertical-align: middle;
    margin-right: 8px;
}

footer {
    background-color: #333;      
    color: white;               
    text-align: center;          
    padding: 10px;               
    margin-top: 20px;            
}


.profile-photo{
    max-width: 200px;
    width: 100%;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
}

.socials-icon {
    width: 40px;
    height: auto;
    display:inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.project-card img, .project-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 10px 0;
}